*{
    margin: 0;
    padding:0;
    border: 0;
     outline: red solid 2px;
}

h2{
    font-weight: bolder;
}

h3{
    font-size:large;
    font-weight: 400;
}

header{
    vertical-align: baseline;
    text-align: center;
    background-image: linear-gradient(rgb(41, 78, 201),rgb(5, 84, 169));
    padding: 30px;
   
}

aside{
    padding-right: 20px;
}

.form{
   display: flex;
   flex-direction: column;
}

#search-input{
    height: 1.5rem;
    background-color:rgb(240, 254, 255);
}

#search-button{
    margin-top: 10px;
}

#today{
    outline:black solid 1px;
    padding: 20px;
}

#today-icon{
    padding-left: 10px;
}
